@import 'app';
@import 'landingPage';
@import 'profile';
@import 'home';
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //     sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1585844428796-8abe4f28fb7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2149&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 800px;
    

}

button {
    border: 1px solid blueviolet;
    border-radius: 5px;
    background-color: transparent;
    color: blueviolet;
    padding: 2px;
    
    
}

form {
    margin: auto;
    text-align: center;
    width: 50px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    input {
        border: 1px solid blueviolet;
        border-radius: 5px;
        background-color: transparent;
        color: blueviolet;


    }

    ::placeholder {
        color: blueviolet;
    }
}
h1{
    text-shadow: -1px 1px #000, -2px 2px #000, -3px 3px #000, -4px 4px #000, -5px 5px #000, -6px 6px #000, -7px 7px #000, -8px 8px #000;
    color: #fff;
}