.body{
    backdrop-filter: blur(4px);


}
.grid{
    
    // width:200px;
    //height:auto;
    
    display: flex;
    gap: 10px;
    
    
     img{
         width:50%;border-radius: 5px;
     }
    

}
.more{
    p{
        font-size: 20px;
        
    }
}


.closed{
    display: none;
}
.open{
    display: block;
}